<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("input:text:visible:first").focus();		
	});
</script>

<div class="reg-block">
		
		
		<div class="reg-block-header">
		    <h2 class="sign_in_heading">Login <span style="color: #333"></span></h2>
		</div>
			
			<% if User.count == 0%>
			<div class="alert alert-info">
				Default login: <b>stevie</b> / <b><%= 'testest01' %></b>
			</div>
			<% end %>
						
  <%= form_tag(sessions_path, :id => "login_form", :name => "login_form") do %>
					
					<input name="utf8" type="hidden" value="✓">		
						
						<div class="input-group margin-bottom-20">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">
							  <i class="fa fa-user fa-2x" style="padding:4px;"></i>
							</span>
						  </div>
							<input class="form-control" autocomplete="off" id="id_username" maxlength="90" name="session[login]" tabindex="1" type="text" placeholder="Email or username" value="">
						</div>
						
						<div class="input-group margin-bottom-20">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon2">
								<i class="fa fa-lock fa-2x" style="padding:4px;"></i>
							</span>
						  </div>
							<input class="form-control" autocomplete="off" id="id_password" maxlength="90" name="session[password]" tabindex="2" type="password" placeholder="Password">					      
						</div>					
					
						
					<div class="row" style="margin-bottom: 0.5rem;">
					    <div class="col-md-12 col-sm-12">
						   <input type="submit" value="Log In" id="sign_in_btn" class="btn btn-primary btn-block">		
               &nbsp; 
               <a href="/sign-up">Create New Account</a>
             	</div>
               
					</div>
							
<% end %>
</div>
			