<h1 class="text-secondary">Calendar</h1>

<h3>How are you feeling today?</h3>

<form>
  <input type="radio" name="mood" value="5"> Very Positive<br>
  <input type="radio" name="mood" value="4"> Positive <br>
  <input type="radio" name="mood" value="3"> Neutral <br>
  <input type="radio" name="mood" value="2"> Negative <br>
  <input type="radio" name="mood" value="1"> Very Negative<br>
  <br/>
  <input type="submit" class="btn btn-primary" value="Record">
</form>
