<h2>Charts</h2>


<div class="build-history-chart-container" id="project-chart" style=""></div>

       
<script type="text/javascript">
    var chart = null;
    $(document).ready(function () {

        chart = new Highcharts.chart('project-chart', {
            chart: {
                backgroundColor: null,
                type: 'line',
                zoomType: 'x'
            },
            title: {
                text: 'Mood Chart'
            },
            credits: {
                enabled: false
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    month: '%e. %b',
                    year: '%b'
                },
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                formatter: function () {
                    return Highcharts.dateFormat('%A, %e %b', new Date(this.x)) + "<br/><b>" + this.y + "</b>";
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: false
                    },
                    marker: {
                        enabled: false,
                        radius: 4
                    },
                    enableMouseTracking: true
                }
            },
            series: [{
                name: 'Mood',
                data:   <%= raw @moods.collect{|x| [ x.date.to_time.to_i * 1000,  x.mood_value ]} %>
            }]
        });
    });

</script>
	
